img{
    border-radius: 20%;
    width:25%; 
    height:25%;
}
@media only screen and (max-width: 600px) {
    img {
       width: 75%; 
       height: 75%;
    }
 }
body.index{
    background-image: url("background.jpg");
    background-size:100%;
    color:azure;
    text-align: center;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    body.index {
        background-size:500%;
    }
 }
@media only screen and (min-width: 600px) {
    body.index{
      background-size:100%;
    }
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #007896;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:#fff;
}
.content h1{
   font-size: 10vw;
   margin-top: 80px;
}
.content p{
   margin: 20px auto;
   font-weight: 100;
   line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
text{
    text-align: center;
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 200% 50%; }
}
  
body.universe {
    background: radial-gradient(circle, #000b18, #11006e);
    background-size:200%;
    color:azure;
    text-align: center;
    overflow: hidden;
    animation: gradient 40s ease infinite;
  }
body.life{
    background: radial-gradient(circle, #000b18, #006e09);
    background-size:200%;
    color:azure;
    text-align: center;
    overflow: hidden;
    animation: gradient 40s ease infinite;
}
body.existence{
    background: radial-gradient(circle, #000b18, #6e0000);
    background-size:200%;
    color:azure;
    text-align: center;
    overflow: hidden;
    animation: gradient 40s ease infinite;
}
body.anxiety{
    background: radial-gradient(circle, #000b18, #006e5f);
    background-size:200%;
    color:azure;
    text-align: center;
    overflow: hidden;
    animation: gradient 40s ease infinite;
}
body.doubt{
    background: radial-gradient(circle, #000b18, #6e3500);
    background-size:200%;
    color:azure;
    text-align: center;
    overflow: hidden;
    animation: gradient 40s ease infinite;
}
body.randpoems{
    background: radial-gradient(circle, #000b18, #a000a0);
    background-size:200%;
    color:azure;
    text-align: center;
    overflow: hidden;
    animation: gradient 40s ease infinite;
}
#poemcontainer{
    line-height: 100%;
}